body {
    background-color:#ECF2FF;
}
hr {
    background-color: white;
    border-style:none;
    border-top: dotted;
    border-color: blueviolet;
    border-width: 10px;
    width: 8%;

}
h1{
    color: #66BFBF;
}
h3{
    color: yellow;
}